<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:replace="security-fragments::link"/>
    <link rel="stylesheet" th:href="@{/css/web-common.css}"/>
    <title>Login</title>
</head>
<body>

<div th:replace="security-fragments::#top-bar"></div>

<h1>Login</h1>

<div class="error" th:if="${param.error != null}" >
    <span th:text="${session.LAST_AUTH_FAILURE_MESSAGE}"></span>
</div>

<p>
    New visitor? Click <a class="inverse" th:href="@{/register}">here</a> to register.
</p>

<form th:action="@{/login}" id="loginForm" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username"/>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/>
    <br>
    <span class="notice">
        Forgot password? Try to <a class="inverse" th:href="@{/reset-password/step-1}">reset</a> it.
    </span>
    <br>
    <button type="submit">Login</button>
</form>

</body>
</html>