<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:replace="security-fragments::link"/>
    <link rel="stylesheet" th:href="@{/css/web-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/errors.css}"/>
    <title>403 Error</title>
</head>
<body>

<div th:replace="security-fragments::#top-bar"></div>

<h1>403 Error</h1>

<hr>
<p>Access for the requested page or resource is forbidden:</p>
<ul>
    <li>Unfortunately, your authority level doesn't allow for the target resource to be disclosed</li>
</ul>
<hr>

</body>
</html>